.main-container{
 background-color: #E5EDF5;
    min-height: 90vh;
    padding:30px;
}
.search-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.search-container input{
  padding: 8px;
  width: 35%;
  border-radius: 5px;
  margin-bottom: 10px;
  border: none;
  outline: none;
   border: 1px solid #ccc;
}
.search-container input:focus{
  border: 1px solid #3B82F6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}
.doctors-unordered-container{
    list-style-type: none;
    padding-left: 0px;
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Segoe UI', sans-serif;
    padding-bottom: 20px;

}
.doctors-list-item-card{
    background-color: #F9FAFB;
     box-shadow: 0 2px 6px #0000000d;;
    padding: 12px;
    margin: 5px 5px 5px 10px;
    width: 26%;
    display: flex;
    flex-direction: row;
    
    align-items: center;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}
.doctors-list-item-card:hover{
 background-color: #E0F2FE;       
}
.doctor-name-basic-details-container{
    display: flex;
    flex-direction: column;
    margin-right: 8px;
}
.doctor-name{
     font-size: 18px;
  font-weight: 600;
  color: #1E293B;
  margin-bottom: 6px;
}
.doctor-specialisation{
     font-size: 14px;
  color: #475569;
  margin-bottom: 10px;
}
.doctor-status{
     font-weight: 500;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  display: inline-block;
}
  .available {
  background-color: #DCFCE7;
  color: #16A34A;
}

.booked {
  background-color: #FEE2E2;
  color: #DC2626;
}

.leave {
  background-color: #FFEDD5;
  color: #F97316;
}
.doctor-image{
  width: 50%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}
.doctor-link-element{
   display: flex;
    flex-direction: row;
    
    align-items: center;
    text-decoration: none;
}
@media (max-width:575px){
  .doctors-list-item-card{
    width: 45%;
    height: 200px;
  }
  .search-container input{
    width: 60%;
  }
}
@media (min-width:576px) and (max-width:767px){
  .doctors-list-item-card{
    width: 45%;
    height: 200px;
  }
  .search-container input{
    width: 60%;
  }
}
@media (min-width:768px) and (max-width:991px){
  .doctors-list-item-card{
    width: 38%;
    height: 200px;
  }
  .search-container input{
    width: 50%;
  }
}